<template>
  <div class="page country">
    <template v-if="!country">
      <p>Sorry, content is not available</p>
    </template>
    <template v-else>
      <h1>
        <span class="d-inline-flex align-items-center justify-content-center">
          <img :src="country.flag" class="flag" alt="country.name + 'flag'" />
        </span>
        {{ country.name }}
      </h1>
      <pre class="details">
        Capital: {{ country.capital }}
        Population: {{ country.population }} habitants
        Aria: {{ country.area }} sq.km
        Spoken languages: {{ countrySpokenLanguages }}
      </pre>
    </template>
  </div>
</template>

<script>
import { mapGetters } from "vuex";
import { mapActions } from "vuex";

export default {
  computed: {
    ...mapGetters({
      country: "getSelectedCountryDetails"
    }),
    countrySpokenLanguages() {
      let list = this.country.languages.map(lang => lang.nativeName);
      return list.join(", ");
    }
  },
  created() {
    this.setSelectedCountry(this.$route.params.name);
  },
  beforeRouteUpdate(to, from, next) {
    this.setSelectedCountry(to.params.name);
    next();
  },
  methods: {
    ...mapActions(["setSelectedCountry"])
  }
};
</script>

<style lang="scss" scoped>
.flag {
  height: 30px;
}
.details {
  text-align: left;
}
</style>
