<template>
  <div class="page home">
    <div class="container">
      <form @submit.prevent="onSearch">
        <div class="input-group">
          <input
            type="search"
            class="form-control"
            v-model="countryName"
            placeholder="Enter country name"
          />
          <div class="input-group-append">
            <button class="btn btn-outline-secondary" type="submit">
              Search
            </button>
          </div>
        </div>
        <small class="form-text text-muted">{{ searchResult }}</small>
      </form>
      <template v-if="country">
        <div class="d-flex justify-content-center my-4">
          <div class="card">
            <img
              :src="country.flag"
              class="card-img-top"
              alt="country.name + 'flag'"
            />
            <div class="card-body">
              <h5 class="card-title">{{ country.name }}</h5>
              <router-link
                :to="`/country/${country.name}`"
                class="btn btn-primary"
                >Details</router-link
              >
            </div>
          </div>
        </div>
      </template>
    </div>
  </div>
</template>

<script>
/*eslint no-console: ["error", { allow: ["warn", "error"] }] */

// @ is an alias to /src
import { mapGetters } from "vuex";
import { mapActions } from "vuex";

export default {
  name: "home",
  data() {
    return {
      countryName: ""
    };
  },
  computed: {
    ...mapGetters({
      country: "getSelectedCountryDetails"
    }),
    searchResult() {
      if (this.countryData && this.countryName.length > 0) {
        return `${this.countryData.length} entries found`;
      } else {
        if (this.countryData === false) {
          return "Sorry nothing found";
        } else {
          return "";
        }
      }
    }
  },
  methods: {
    ...mapActions(["setSelectedCountry"]),
    onSearch() {
      if (this.countryName.length > 2) {
        this.setSelectedCountry(this.countryName);
      }
    }
  }
};
</script>

<style lang="scss" scoped>
.card {
  width: 200px;
  max-width: 100%;
}
</style>
